<div id="<%= dom_id building %>">
  <p>
    <strong>Name:</strong>
    <%= building.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= building.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= building.city %>
  </p>

</div>
